{% extends "base.html" %}
{% load static %}
{% block content %}

<main>

    <section id="about">
        <div class="about">
          <div class="container">
            <div class="left">
              <h1 class="h1">
                Hi, I'm <span style = "color:hsl(216, 15%, 52%);">Shae&nbsp;Kekae</span>.
                <br>Cybersercurity Analyst
              </h1>
             
             
    
              <p class="h3">Cybersercurity and Python Enthusiast</p>
    
              <div class="btn-group">
                <a href="#" class="btn btn-primary" style = "background: hsl(216, 15%, 52%);color:white;">Contact Me</a>
                <a href="#" class="btn btn-secondary" style = "border: 3px solid hsl(216, 15%, 52%);">About Me</a>
              </div>
            </div>
    
            <div class="right">
              <div class="pattern-bg"></div>
              <div class="img-box">
                <img
                  src="{% static 'images/me-png.png' %}"
                  alt="Julia Walker"
                  class="about-img"
                />
                <div class="shape shape-1"></div>
                <div class="shape shape-2"></div>
              </div>
            </div>
          </div>
        </div>
      </section>
</main>

{% endblock  %}